.sidebar {
  width: 220px;
  min-height: calc(100vh - 65px);

  background: white;

  padding: 25px 15px;

  border-right: 1px solid #e5e7eb;

  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
}

.sidebar-title {
  font-size: 15px;
  color: #6b7280;

  padding: 0 12px;
  margin-bottom: 15px;

  text-transform: uppercase;
  letter-spacing: 1px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-link {
  text-decoration: none;

  color: #374151;

  padding: 12px 15px;

  border-radius: 8px;

  font-size: 15px;

  transition: all 0.3s ease;
}

.sidebar-link:hover {
  color: white;

  background: linear-gradient(
    90deg,
    #f472b6,
    #d946ef,
    #818cf8
  );

  transform: translateX(4px);
}